<% include partials/header %>

<section style="margin:2em;">
  <div class="container has-text-centered">
    <h2 class="is-size-1"><%= weatherData.current.name %></h2>
    <p class="is-size-2">
      <%= Math.round(weatherData.current.main.temp) %>&#8457;
      <span style="font-weight: bold"><%= weatherData.current.weather[0].main %></span>
    </p>
  </div>
</section>

<% function convertTimeToDate(timestamp){%>
<% var months_arr = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']; %>
<% var date = new Date(timestamp*1000); %>
<% var year = date.getFullYear(); %>
<% var month = months_arr[date.getMonth()];%>
<% var day = date.getDate(); %>
<% var convertedDate = month+'. '+day%>
<% return convertedDate; }%>

<section style="margin-bottom: 2em;">
  <div class="container">
    <h2 class="is-size-2 has-text-centered">5-Day Forecast</h2>
    <hr>
    <div class="columns">
      <% var counter = 0 %>
      <% for (var i = 0; i < weatherData.forecast.list.length; i++){ %>
          <% if(i == counter) { %>
            <% counter += 8; %>
            <div class="column has-text-centered" style="margin: 10px;">
              <% var data = weatherData.forecast.list[counter-8] %>
                <h2 class="has-text-centered is-size-4">
                  <%=convertTimeToDate(data.dt)%>
                </h2>
                <p>
                  <span style="font-size: 1.5em;"><%= Math.round(data.main.temp) %>&#8457;</span>
                </p>
                <p>
                  <span style="font-weight: bold;"><%= data.weather[0].main %></span>
                </p>
                <% var iconString = data.weather[0].icon %>
                <img src="https://www.openweathermap.org/img/w/<%=iconString%>.png" width=100 height=100 alt="">
              </div>
          <% } %>
       <% } %>
    </div>
  </div>
</section>

<% include partials/footer %>
